{%- doc -%}
  Renders the cart icon, which displays the number of items in the cart via a bubble.
{%- enddoc -%}
<cart-icon
  class="
    header-actions__cart-icon
    {% unless cart == empty %} header-actions__cart-icon--has-cart{% endunless %}
  "
  data-testid="cart-icon"
>
  <span
    class="svg-wrapper"
    aria-hidden="true"
  >
    {% comment %} {{ 'icon-cart.svg' | inline_asset_content }} {% endcomment %}
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.0022 5C14.0022 4.46957 13.7915 3.96086 13.4164 3.58579C13.0414 3.21071 12.5327 3 12.0022 3C11.4718 3 10.9631 3.21071 10.588 3.58579C10.2129 3.96086 10.0022 4.46957 10.0022 5M19.2622 9.696L20.6472 18.696C20.691 18.9808 20.6728 19.2718 20.5936 19.5489C20.5145 19.8261 20.3765 20.0828 20.1889 20.3016C20.0014 20.5204 19.7687 20.6961 19.5069 20.8167C19.2452 20.9372 18.9604 20.9997 18.6722 21H5.33227C5.0439 21 4.75894 20.9377 4.49691 20.8173C4.23489 20.6969 4.002 20.5212 3.81421 20.3024C3.62643 20.0836 3.48819 19.8267 3.40897 19.5494C3.32976 19.2721 3.31144 18.981 3.35527 18.696L4.74027 9.696C4.81292 9.22359 5.05235 8.79282 5.41519 8.4817C5.77804 8.17059 6.2403 7.9997 6.71827 8H17.2862C17.764 7.99994 18.226 8.17094 18.5887 8.48203C18.9513 8.79312 19.1896 9.22376 19.2622 9.696Z" stroke="#0A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
  </span>

  {% render 'cart-bubble', limit: 100, live_region: true, test_id: test_id %}
</cart-icon>




{% stylesheet %}
  cart-icon:has(.cart-bubble__text-count:empty) {
    --cart-bubble-size: 10px;
    --cart-bubble-top: 9px;
    --cart-bubble-right: 9px;

    .svg-wrapper {
      --cart-bubble-top: 4px;
      --cart-bubble-right: 4px;
    }
  }
{% endstylesheet %}
