{%- doc -%}
  Renders the search action button.

  @param {string} [style] - The style of the search action.
  @param {string} [class] - Additional classes for the search action.

  @example
  {% render 'search', style: 'default', class: 'custom-class' %}
{%- enddoc -%}

{% unless style == 'none' %}
  <search-button class="search-action{% if class != blank %} {{ class | strip }}{% endif %}">
    <button
      on:click="#search-modal/showDialog"
      class="button button-unstyled search-modal__button header-actions__action"
      aria-label="{{ 'accessibility.open_search_modal' | t }}"
    >
      <span
        aria-hidden="true"
        class="svg-wrapper"
      >
        {% comment %} {{ 'icon-search.svg' | inline_asset_content }} {% endcomment %}
         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.1218 17.122L21.9998 22M10.8498 2C13.2938 2 15.5068 2.99 17.1078 4.592C18.5556 6.03977 19.4567 7.94476 19.6574 9.98239C19.8581 12.02 19.3461 14.0642 18.2086 15.7667C17.0711 17.4691 15.3785 18.7245 13.4192 19.3189C11.4599 19.9133 9.35508 19.8099 7.46343 19.0264C5.57178 18.2429 4.01032 16.8277 3.0451 15.022C2.07988 13.2163 1.77062 11.1318 2.17003 9.12364C2.56943 7.11548 3.65277 5.30794 5.23548 4.00899C6.81818 2.71003 8.80231 2.00005 10.8498 2Z" stroke="#0A0A0A" stroke-width="1.5"/>
</svg>

      </span>
    </button>
  </search-button>
{% endunless %}

{% stylesheet %}
  .search-action {
    --search-border-radius: var(--style-border-radius-inputs);
    --search-border-width: var(--style-border-width-inputs);

    display: flex;
  }

  .header__column--center .search-action {
    width: auto;
    flex-grow: 1;
  }

  :is(.header__column--left, .header__column--center) .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--padding-lg) * -1);
    }
  }

  .header__column--right .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--gap-md) * -1) calc(var(--gap-xs) * -1);
    }
  }
{% endstylesheet %}
